@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald:wght@200;400&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

#app {
  position: absolute;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr 75px;

  background: linear-gradient(180deg, rgba(42,2,48,1) 0%, rgba(85,35,93,1) 60%, rgba(143,19,194,1) 100%);
}

nav {
  grid-row: 2 / 3;
  background: rgba(0,0,0,0.8);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: grid;
    place-content: center;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

    li {
      text-align: center;

      a {
        display: block;
        text-decoration: none;
        font-size: 0.75rem;
        color: rgba(210,200,220,0.5);

        svg {
          display: block;
          margin: 15px auto 5px;
          width: 28px;
          height: 28px;
          fill: rgba(210,200,220,0.5);
        }
      }

      a.active {
        color: rgb(175, 30, 230);

        svg {
          fill: rgb(175, 30, 230);
        }
      }
    }
  }
}

main {
  grid-row: 1 / 2;
  background: rgba(255,255,255,0.6);
  padding: 16px;
  overflow-y: auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-flow: row dense;
  grid-auto-rows: min-content;
  gap: 16px;
}

.stamp-card {
  padding: 16px;
  border-radius: 5px;

  display: grid;
  place-content: center;
  gap: 8px;

  * {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1em;
  }

  .stamps {
    margin: 8px 0px;

    ol {
      list-style: none;
      counter-reset: number;
      margin: 0;
      padding: 0;

      display: grid;
      place-content: center;
      grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
      gap: 8px;
    }

    li {
      display: block;
      position: relative;
      overflow: hidden;
    }

    li svg {
      position: absolute;
      width: 90%;
      height: 90%;
      top: 5%;
      left: 5%;
    }

    li:before {
      display: grid;
      place-content: center;

      position: absolute;
      width: 100%;
      height: 100%;

      counter-increment: number;
      content: counter(number);

      text-align: center;
      font-family: 'Oswald', sans-serif;
      font-weight: 400;
      font-size: 1.8em;
      opacity: 0.25;
    }

    li:after {
      display: block;

      content: "";

      border-radius: 100%;
      background: rgba(255,255,255,0.5);
      padding: 100% 100% 0 0;
      mix-blend-mode: soft-light;
    }
  }

  .terms {
    text-align: justify;
    line-height: 0.8;

    ul {
      list-style: none;
    }

    h3 {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
    }

    h3, li {
      font-size: 0.5em;
    }

    h3, ul, li {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }
}

.signin-modal {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;

  display: grid;
  justify-content: left;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: repeat(10, 1fr);

  @media screen and (min-width: 1000px) {
    grid-template-columns: 100px 1fr 100px;
	}

  background: linear-gradient(180deg, rgba(42,2,48,1) 0%, rgba(85,35,93,1) 60%, rgba(143,19,194,1) 100%);
  color: white;

  &.show {
    top: 0%;
    opacity: 1;
  }

  &.hide {
    top: 100%;
    opacity: 0;
  }

  & > * {
    grid-column: 2;
  }

  h1 {
    margin: 0px;
    font-size: 5rem;
    grid-row: 4;
    align-self: end;
  }

  h2 {
    margin: 0px;
    font-weight: 200;
    grid-row: 5;
    align-self: start;
  }

  .google-signin {
    margin-top: 50px;
    grid-row: 6;
    align-self: end;
  }

  &:after {
    display: block;
    content: '';
    margin-top: 25px;
    background-color: rgba(255,255,255,0.8);
    grid-row: 6/11;
    grid-column: 1/4;
  }
}
