<div class="signin-modal {{if this.session.currentUser "hide" "show"}}">
  <h1>Stampy</h1>
  <h2>Sign in to start collecting rewards.</h2>
  <div class="google-signin" {{did-insert this.renderGoogleSignin}} />
</div>
